<template>
  <div>
    <a :href="'https://open.spotify.com/artist/' + artist.id" target="_blank">
      <img v-if="artist.images[0]" class="card-img-top" :src="artist.images[0].url" alt="thumbnail">
    </a>
    <div class="card-body">
      <h5 class="card-title">{{ artist.name }}</h5>
      <h6
        class="card-subtitle mb-2 text-muted"
      ></h6>
      <ul>
        <li v-for="genre in artist.genres" :key="genre">{{ genre }}</li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ArtistGridItem',
  props: ['artist']
};
</script>