<template>
  <div id="app">
    <SearchForm v-on:search="search"/>
    <SearchResults
      v-if="artists.length > 0"
      v-bind:artists="artists"
      v-bind:reformattedSearchString="reformattedSearchString"
    />
  </div>
</template>

<script>
import SearchForm from './components/SearchForm';
import SearchResults from './components/SearchResults';
import axios from 'axios';

export default {
  name: 'App',
  components: {
    SearchForm,
    SearchResults,
  },
  data() {
    return {
      artists: [],
      reformattedSearchString: '',
      api: {
        baseUrl: 'https://api.spotify.com/v1/search?',
        type: 'artist',
        q: '',
        authorization: 'BQBG91HMdOc1dc0U463L_3l-Lra9pGV4_T-xIaOdlB-KE9qU-A5Ufu4raFVaTSeLD2r8p1PLDOkt9h2BoQ4I92XWiiAW5wtuRHMzhtw6tycFsCwD-ZWOmYEVbTziVi-YDQ6aTHwkkUxAM9Va-ehR1bowJlKQ'
      }
    };
  },
  methods: {
    search(searchParams) {
      this.reformattedSearchString = searchParams.join(' ');
      this.api.q = searchParams.join('+');
      const { baseUrl, type, q, authorization } = this.api;
      const apiUrl = `${baseUrl}type=${type}&q=${q}`;
      const token = authorization;
      this.getData(apiUrl, token);
    },

    getData(apiUrl, token) {
      axios
        .get(apiUrl, {
        headers: {
          'Authorization': `Bearer ${token}`
        }
        })
        .then(res => {
          this.artists = res.data.artists.items;
        })
        .catch(error => console.log(error));
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
